@model form_MNJ.Models.Candidate
@{
    ViewData["Name"]="Introduce your name"
}
<center><h2>Application Form</h2></center>
<div class="form-horizontal"></div>
<div class="form-inline">

    <div class="container">
    <div class="mx-auto form-group">
        <input type="text" asp-for="Candidate"class="form-control"placeholder="Introduce your data">
        <input type="submit" class="btn btn-primary b-none ml-2 border-0">
        <div></div>
        </div>
    

</div>
</div>
</div>